<div>
  <mat-toolbar color="primary">
    <span>Our Material Demo</span>
    <span class="toolbar-fill"></span>
    <!-- <span>Right?</span> -->
    
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="aboutUs()">About</button>
      <button mat-menu-item>Help</button>
      <button mat-menu-item>Language</button>
    </mat-menu>

    <!-- <button [matMenuTriggerFor]="appMenu" mat-icon-button></button> -->
    <button [matMenuTriggerFor]="appMenu" mat-icon-button (mouseover)="openMenu()">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>
  <br/>
  <!-- https://material.io/resources/icons/?style=baseline -->
  <mat-icon>score</mat-icon>
  <br/><br/>

  <form [formGroup]="ourForm">
  <mat-form-field appearance="outline"> <!-- standard, fill, outline -->
    <mat-label>User Name</mat-label>
    <input type="text" matInput placeholder="your name here" formControlName="name"  />
    <mat-hint>max 6 chars</mat-hint>
    <mat-error *ngIf="ourForm.controls['name'].errors?.required">Name is required</mat-error>
    <mat-error *ngIf="ourForm.controls['name'].errors?.maxlength">Name length must be maximum 6 chars!</mat-error>
  </mat-form-field>
</form>

</div>