<div>
  <form [formGroup]="courseForm">
    <input type="text" formControlName="title"/>
    <br/>
    <input type="date" formControlName="startDate" />
    <span *ngIf="courseForm.controls['startDate'].errors?.dateError">Date is in the past</span>
    <br/>
    <input *ngIf="courseForm.valid" type="button" value="send"/>
  </form>
  <br/><br/>
  <hr/>
  
  <form [formGroup]="userForm">
    <input type="text" placeholder="Name" formControlName="name"/>
    <br/>
    <input type="number" placeholder="ID" formControlName="id" />
    <span *ngIf="userForm.controls['id'].errors?.idError && userForm.controls['id'].touched">ID IS NOT VALID!!</span>
    <br/>
    <input type="button" value="GO" (click)="go()" />
  </form>
</div>