<div>
    <!-- <h1>This is some heading!</h1> -->
    <app-header></app-header>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis placeat ex ipsa eveniet harum nam vel quibusdam porro provident totam. Odit ducimus, vitae eius libero magni quo aliquid reprehenderit similique.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum pariatur ipsum possimus magnam itaque, sapiente, incidunt doloribus libero sed est eligendi blanditiis non repellendus, reiciendis illum atque nisi rerum nulla.
    </p>
    <img src="assets/images/angular1.png" alt="angular image 1" />
    <img src="assets/images/react1.png" alt="React image 1" />
</div>